@charset "utf-8";

/*
   New Perspectives on HTML and CSS
   Tutorial 7
   Case Problem 4

   Millennium Computers Form
   Author: Maria De Jesus Rizo
   Date:   1.22.19
  
   Filename: mc_styles.css

*/

/* General Styles */
/* Styles within this section will affect the generak appearence of elements displayed on the rendered page. */
/* The selector below states that styles listed will affect the html element of the document. The background property states that the image provided should be used as the background of the page. The background size property states that the image will cover the page. The background repeat property states that the image will not be repeated across the screen. The background attachment property states that the image will be fixed to the screen and not scroll with the page. The height property defines the height of the element, in this case being the full heigth of the page.   */
html {
    background: url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
}

/* The selector below states that the body element will have a background color of the specified values, a margin of the specified dimensions, and a width of only 75% of the enire page width. */
body {
    background-color: rgba(250, 253, 253, 0.801);
    margin: 0px auto;
    width: 75%;
}

/* The selector below states that the img element nested within the header element will be affected by the property listed.  */
header img {
    width: 100%;
}

/* The selector states that the ul element will have the styles provded applied to it. The text decoratio property removes any decoration that the text had, includign any underlining. The padding-inline-start property was added in order to overwrite the broswer style for that particular property. */
ul {
    text-decoration: none;
    padding-inline-start: 0px;
}

/* The selector says that the li elements in the HTML document will have not list bullet points and the text of the li elements will be the color white. */
li {
    list-style: none;
    color: white;
}

/* The selector below states that the nav element will have the provided styles applied to it */
nav {
    width: 100%;
}

/* The selector below states that the a element nested within the nav will be affected. The font size property specifies the size of the text within the element. The display block property states that the element will be displayed on the page with the properties of a block element. the text align property states that text will be aligned to the center of its container. The padding prorties apply padding to the element in the specified areas of the specified dimensions. */
nav a {
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    text-decoration: none;
    width: 25%;
    float: left;
    font-size: 20px;
    display: block;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

/* The selector below states that the nav a elements will be affected by the styles provided when in a state of either being hovered over by the user or active on the page. The font style property gives the font a particular style, in this case becoming italic. */
nav a:hover,
nav a:active {
    background-color: rgba(124, 181, 231, 0.527);
    font-style: italic;
}

footer {
    background-color: rgba(0, 0, 0, 0.911);
    color: white;
    text-align: center;
    font-size: 20px;
}

/* Styles within this section will affect screen measurment viewports (any screen with a width of 580px or smaller). */
@media only screen and (max-width: 580px) {

    /* The selector below states that the a element nested within the li element which is nested within the ul element will be affected by the styles provided. */
    ul li a {
        display: block;
        width: 100%;
        margin-bottom: 0px;
    }
}